.site-nav {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	outline: 0;
	background-color: #191918;
}

.icons-logo {
	font-family: 'Chivo','Helvetica Neue',Helvetica,Arial,serif;
	font-size: 3em;
	line-height: 40px;
}

.site-nav-scrollable-container {
	display: none;
	overflow: auto;
	height: 100%;
	text-align: left;  /**/
}

.site-nav-scrollable-container ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-nav-scrollable-container a {
	font-family: "Cantata One",Georgia,Times,"Times New Roman",serif;
	text-decoration: none;
}

.site-nav-scrollable-container strong {
	font: white;
}

.site-nav-transition .site-nav-scrollable-container {
	display: block;
	width: 280px;
}

.site-nav-list-item-btn {
	color: #b3b3b1;
	display: block;
	padding: 0 25px;
	height: 42px;
	line-height: 45px;
	border: 0;
	background: black;
}

.site-nav-list-item-btn:hover {
	color: #fff;
	outline: 0;
}

.site-nav-overlay {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.site-nav-drawer-open .site-nav-overlay {
	left: 280px;
	z-index: 900;
	display: block;
}

.site-nav-logo {
	width: 44px;
	height: 44px;
	background: #333332;
	color: #FFFFFF;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 0;

    opacity: 1;

	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	-ms-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

.site-nav-drawer-open .site-nav-logo {
	display: none;
}

.site-nav-transition .site-nav-logo {
    opacity: 0;
}


.site-nav-transition #container {
	position: fixed;
}

.site-nav-drawer-open #container {
	-webkit-transform: translate3d(280px,0,0);
	-moz-transform: translate3d(280px,0,0);
	-o-transform: translate3d(280px,0,0);
	-ms-transform: translate3d(280px,0,0);
	transform: translate3d(280px,0,0);
}

.scroll-region {
	background: url("../images/highlight-bg.jpg") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    height: 100%;
	overflow: auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family:Cantata One;
	font-style:Regular;
	src: url(../font/CantataOne-Regular.ttf);
}

@font-face {
	font-family:Chivo;
	font-style:BlackItalic;
	src: url(../font/Chivo-Black.ttf);
}


