html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* margin: 0; */
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
}

body {
	border: 10px none;
	height: 100%;
	margin: 0px;
	padding: 0px;/**/
	text-align: center;/**/
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	font-size: 1em;
	line-height: 1.5;
}

#container {
	background: url("../images/body-bg.png") repeat scroll 0 0 #E7E7E7;
	min-height: 595px;
	height: 100%;
	width:100%;  /**/
	margin:0 auto;

	-webkit-transition: -webkit-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
    -moz-transition: -moz-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
    -o-transition: -o-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
    -ms-transition: -ms-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
    transition: transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
}

.inner {
	margin: 0 auto;
	width: 800px;
	height: 100%;
	text-align: left;
}

header {
	display: block;
	padding-bottom: 25px;
	padding-top: 35px;
	vertical-align: baseline;
}

header h1 {
	color: #303030;
	font-family: 'Chivo','Helvetica Neue',Helvetica,Arial,serif;
	font-size: 48px;
	font-weight: 900;
	letter-spacing: -1px;
	line-height: 1.2;
	margin-bottom: 0px;
	margin-top: 0px;
}

#gotop{
	background:url(/images/backtop.png) no-repeat 0px 0px;
	display:none;
	bottom:50px;
	height:50px;
	width:50px;
	position:fixed;
	right:100px;
}

hr {
	background: url("../images/hr.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
	border: medium none;
	height: 1px;
	line-height: 1px;
	margin-top: 1em;
	padding-bottom: 1em;
}

@font-face {
	font-family:Chivo;
	font-style:BlackItalic;
	src: url(../font/Chivo-Black.ttf);
}

code {
	font-size: 1.5em;
}
