<!--
**
* Author: GuidoPaul
* Contact: Baoshenglin1994@gmail.com
* Create Date: 2014.3.12
**
-->
<!DOCTYPE html>

<html>

	<head>
		<meta charset='utf-8'>
		<!-- <meta http-equiv="X-UA-Compatible" content="chrome=1"> -->
		<link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
		<!-- <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Knewave"> -->
		<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cantata+One">
		<link rel="stylesheet" type="text/css" href="/stylesheets/postlayout.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />
		<script src="/javascripts/jquery-2.0.3.js"></script>
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<title>GuidoPaul</title>
	</head>

	<body>
		<div class="site-nav">
			<button class="site-nav-logo">
				<span class="icons-logo">G</span>
			</button>
			<div class="site-nav-scrollable-container">
				<ul class="site-nav-list">
					<li>
						<a class="site-nav-list-item-btn" href="http://guidopaul.github.io/">
							Home
						</a>
					</li>
					<li>
						<a class="site-nav-list-item-btn" href="https://github.com/GuidoPaul">
							Fork me on Github
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="site-nav-overlay"></div>
		<div id="container">
			<div class="scroll-region">
				<div class="inner">
					<header>
						<h1>{{ page.title }}</h1>
					</header>
					<hr />
					<section id="main_content">

						{{ content }}

					</section>
					<footer>
						<div id="disqus_thread"></div>
						<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'guidopaul'; // required: replace example with your forum shortname

							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
					</footer>
				</div>
			</div>
		</div>

		<script>
			var body = $('body');
			$('.site-nav-logo').click(function() {
				body.addClass('site-nav-transition site-nav-drawer-open');
			});
			$('.site-nav-overlay').click(function(){
				body.removeClass('site-nav-drawer-open');
				setTimeout(function () {
					body.removeClass("site-nav-transition");
				}, 300);
			});
		</script>

	</body>
</html>

